@import "../../../custom-theme.scss";
:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.profileOverview {
  padding: 20px 35px 10px;
}

.profileOverview img {
  width: 100px;
}

.menuContainer {
  flex: 1;
  overflow: auto;
  padding: 0px 20px;
}

.menu-item-icon {
  margin: 0 25px 0 16px;
  color: #ffffff;
}

.menuContainer .mat-list-base {
  padding: 0;
}

.menuContainer .mat-divider {
  margin: 5px 0;
}

.menuContainer .mat-list-base .mat-list-item {
  color: #535d6c;
  font-size: 13px;
  border-radius: 5px;
}

.menuContainer .mat-list-base .mat-list-item:hover,
.menuContainer .mat-list-base .mat-list-item.active {
  color: rgba(255, 255, 255, 1);
  background-color: #535d6c;
}

.menuContainer .mat-list-base .mat-list-item .title {
  font-weight: 400;
}

.menuContainer .mat-list-base .mat-list-item .mat-list-icon {
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  font-size: 24px;
}

.menuContainer .mat-list-base .mat-list-item.active .mat-list-icon {
  color: #ffffff;
}

.menuContainer .mat-list-base .mat-list-item.mat-list-item-with-avatar {
  height: auto;
}

.menuContainer::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
  padding: 5px 10px 5px 10px;
  transition: all 0.3s;
}

:host-context(.collapsed) {
  .profileOverview::ng-deep
    .mat-list-base
    .mat-list-item.mat-list-item-with-avatar
    .mat-list-item-content
    .mat-list-text {
    display: none;
  }
  .menuContainer::ng-deep
    .mat-list-base
    .mat-list-item.mat-list-item-with-avatar
    .mat-list-item-content
    .mat-list-text {
    display: none;
  }
  .menuContainer::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}
